
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRRO :: Visitor Login</title>
    <link rel="icon" href="logo/FRROimg.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="logo/FRROimg.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body>
    <h2>Visitor Profile</h2>
    <div class="container" x-data="formValidation()">
        <div class="justify-content-md-evenly">
            <img src="logo/FRROimg.jpeg" alt="FRRO Logo">
            <div>
                <h7 style="margin-left: 20px; font-style: oblique;">FRRO CHENNAI</h7>
            </div>
        </div>

		<form th:action="@{/savedata}" class="form" id="user-form" @submit.prevent="validateForm" method="post"  enctype="multipart/form-data"  th:object="${visitorEntry}">
            <!-- Replace `newVisitor` with the correct model object name -->
                <div class="row">
                <div class="col-md-4 col-12">
                    <label for="visitor_full_name" class="form-label">Visitor Name<span class="text-danger">*</span></label>
                    <input type="text" id="visitor_full_name" name="visitor_full_name" class="form-control" th:field="*{visitor_full_name}"  
                     @keyup="visitor_full_name = visitor_full_name.toUpperCase()"   x-model="visitor_full_name" 
                     @input="validateField('visitor_full_name')" x-ref="visitor_full_name" :data-focused="errors.visitor_full_name && isFocused.visitor_full_name">
                    <span x-show="errors.visitor_full_name" x-html="errors.visitor_full_name" class="error"></span> 
                </div>
                <div class="col-md-3 col-12" >
                    <label for="visitor_id_type_id" class="form-label">Visitor ID Type</label>
                    <select name="visitor_id_type_id" id="visitor_id_type_id" th:field="*{visitor_id_type_id}" class="form-control" x-on:change="updateVisitorIdTypeLabel">
                        <option value="0">-- Please Select --</option>
                    <!--    <option th:each="typeid : ${visitortypeid}" th:value="${typeid}" th:text="${typeid}"></option>-->
 								<option value="1">Driving License</option>
 								 <option value="2">Passport</option>
 								  <option value="3">Arms License</option>
 								   <option value="4">RationCard</option>
 								    <option value="5">IncomeTax PAN Card</option>
 								     <option value="6">Photo Credit Card</option>
                    </select>
                </div>
                <div class="col-md-3 col-12">     
					               <div class="form-group" >				
           <label for="visitor_id_type" class="form-label" x-text="visitorIdTypeLabel"></label>
                    <input type="text" id="visitor_id_type" name="visitor_id_type" th:field="*{visitor_id_type}" class="form-control" :placeholder="visitorIdTypeLabel "   oninput="this.value = this.value.toUpperCase()"  >
                </div>
            </div>
           <div class="row">
                <div class=" col-12">
                  <div class="form-group">
                <label for="visitor_address" class="form-label">Visitor Address<span class="text-danger">*</span></label>
                  <div class="controls">
                <textarea id="visitor_address" name="visitor_address" th:field="*{visitor_address}" class="form-control" @keyup="visitor_address = visitor_address.toUpperCase()" style="width: 90%; height: 70px;" x-model="visitor_address" @input="validateField('visitor_address')" x-ref="visitor_address" :data-focused="errors.visitor_address && isFocused.visitor_address"></textarea>
                <span x-show="errors.visitor_address" x-html="errors.visitor_address" class="error"></span>
            </div>
                    </div>
        </div>
    </div>
            <div class="row">
                <div class="col-12" style="margin-left: 10px;">
                    <label for="applicant_full_name" class="form-label">Applicant Name<span class="text-danger">*</span></label>
                    <span style="padding-left:20px;">
                        <input type="checkbox" tabindex="5" id="chkApplEqlsVstrName" name="chkApplEqlsVstrName"  x-model="blnApplEqlsVstrName" @change="syncApplicantName" x-show>
                        <label for="chkApplEqlsVstrName" style="color: rgb(0, 128, 192); font-size: x-small;">Same as visitor name</label>
                    </span>
                    <div class="controls">
                    <input type="text" id="applicant_full_name" name="applicant_full_name" th:field="*{applicant_full_name}" class="form-control" style="width: 90%; height: 35px;"   x-model="applicant_full_name"@keyup="applicant_full_name=applicant_full_name.toUpperCase()" @input="validateField('applicant_full_name')" >
                    <span x-show="errors.applicant_full_name" x-html="errors.applicant_full_name" class="error"></span> 
                </div>
            </div>
            <div class="row" style="margin-left:-10px ;">
                <div class="col-md-6 col-12">
                    <label for="passportid" class="form-label">Passport No:<span class="text-danger">*</span></label>
                    <input type="text" id="applicant_ppt_no" name="applicant_ppt_no"  th:field="*{applicant_ppt_no}" class="form-control" placeholder="Passport No:"  @keyup="applicant_ppt_no = applicant_ppt_no.toUpperCase()" maxlength="20"  style="width:90%;" x-model="applicant_ppt_no" @input="validateField('applicant_ppt_no')" x-ref="applicant_ppt_no" :data-focused="errors.applicant_ppt_no && isFocused.applicant_ppt_no">
                    <span x-show="errors.applicant_ppt_no" x-html="errors.applicant_ppt_no" class="error"></span> 

                </div>
                <div class="col-md-6 col-12">
                    <label for="applicant_nationality"  class="form-label">Nationality<span class="text-danger">*</span></label>
                    <select  id="applicant_nationality" name="applicant_nationality" th:field="*{applicant_nationality}" class="form-control" style="width:95%;"   x-model="applicant_nationality" @change="validateField('applicant_nationality')" x-ref="applicant_nationality" :data-focused="errors.applicant_nationality && isFocused.applicant_nationality">
                        
                    <option value=""> -- Select Country --</option>
           <option th:each="nationality : ${country}" th:value="${nationality}" th:text="${nationality}"></option>
             
 
       </select>
                    <span x-show="errors.applicant_nationality" x-text="errors.applicant_nationality" class="error"></span> 
                </div>
            </div> 
            <div class="row" >
                <div class="col-md-1 col-12" style=" margin-right: -40px">
                    <div class="form-group">
                        <label for="" class="form-label">Local</label>
                        <div class="controls">
                            <input type="text" id="txtCodeIndia" name="txtCodeIndia"  class="form-control" disabled value="+91" style=" padding-left: .5rem; ">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12" style=" margin-right: 25px">
                    <div class="form-group">
                        <label for="ContactNoIndia" class="form-label">Contact No.<span class="text-danger">*</span>
                            <small><i>India</i></small></label>
                        <div class="">
                            <input type="text" tabindex="9" id="visitor_contact_no_india" th:field="*{visitor_contact_no_india}" name="visitor_contact_no_india"  autocomplete="off" placeholder="1234567890" maxlength="10" class="form-control" style="width:90%" x-model="visitor_contact_no_india" @input="validateField('visitor_contact_no_india')" x-ref="visitor_contact_no_india" :data-focused="errors.visitor_contact_no_india && isFocused.visitor_contact_no_india">
                            <span x-show="errors.visitor_contact_no_india" x-html="errors.visitor_contact_no_india" class="error"></span> 
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="" class="form-label">Country Code</label>
                        <div class="controls">
                            <select x-model="visitor_country_code_num" id="visitor_country_code_num" name="visitor_country_code_num" th:field="*{visitor_country_code_num}" tabindex="10" class="form-control" style="margin: right 40%; width: 100%;">
                          
                               <option value="">-- Select Country Code--</option>

                        <option th:each="countryCode : ${code}" th:value="${countryCode}" th:text="${countryCode}"></option>
                               
                                
 
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group" x-show="visitor_country_code_num !== ''">
                        <label for="" class="form-label">Contact No.
                            <small><i>International</i></small></label>
                        <div class="controls" >
                            <input type="text" tabindex="11" id="visitor_contact_no_intnl" name="visitor_contact_no_intnl" th:field="*{visitor_contact_no_intnl}" style="width: 95%;" autocomplete="off" class="form-control" x-model="visitor_contact_no_intnl" data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="No Characters Allowed, Only Numbers" maxlength="15" pattern="[0-9]{10,15}" data-validation-pattern-message="Invalid Contact No. !" placeholder="Enter Your INTL No:">
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="visitor_visit_purpose_id" class="form-label">Purpose of Visit:<span class="text-danger">*</span></label>
                        <div class="controls">
                            <select x-model="visitor_visit_purpose_id" id="visitor_visit_purpose_id" name="visitor_visit_purpose_id" th:field="*{visitor_visit_purpose_id}" tabindex="10"  class="form-control" style="margin: right 40%; width: 90%;" @change="validateField('visitor_visit_purpose_id')" x-ref="visitor_visit_purpose_id" :data-focused="errors.visitor_visit_purpose_id && isFocused.visitor_visit_purpose_id" >
                                <option value="">-- Select --</option>
                                <option value="1">Registration Of VISA</option>
                                <option value="2">VISA Extension</option>
                                <option value="3">VISA Conversion</option>
                                <option value="4">Exit Permit</option>
                                <option value="5">online e Frro</option>
                                <option value="6">e Frro Payment</option>
                                
                                <option value="7">Others</option>
                            </select>
                            <span x-show="errors.visitor_visit_purpose_id" x-text="errors.visitor_visit_purpose_id" class="error"></span> 

                            
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-12"  x-show="visitor_visit_purpose_id == 7">
                    <div class="form-group">
                        <label for="" class="form-label"> Purpose :<span class="text-danger">*</span></label>
                        <div class="controls">
                            <input type="text" id="visit_purpose_other_desc" name="visit_purpose_other_desc" th:field="*{visit_purpose_other_desc}"   class="form-control" style="width: 95%;"   placeholder=" for which purpose.">
                        </div>
                    </div>
                </div>
                
    <!-- Photo upload section 
            <div class="row" style="margin-left: 5px;">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="photo" class="form-label">Visitor Photo</label>
                        <div class="controls">
                            <input type="file" id="photo" name="photo" class="form-control" accept="image/*" capture="environment" style="width: 90%;" @change="encodeImage">
                        </div>
                        <span x-show="errors.photo" x-html="errors.photo" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="photoPreview" class="form-label">Preview</label>
                        <img id="photoPreview" class="img-thumbnail" style="width: 100px; height: 100px;" x-bind:src="photoDataUrl">
                    </div>
                </div>
            </div>-->
            	
            
             <!--web Cam-->
            <div class="row" style="margin-left: 5px;">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="webcam" class="form-label">Upload Image</label>
                        <div class="controls">
						<button type="button" @click="toggleWebcam" x-text="webcamButtonText" style="padding: 10px 15px; background-color: rgb(8, 157, 226); color: #fff;border: none;
						border-radius: 5px;cursor: pointer;font-size: small; "></button>
                            <video id="webcam" style="width: 90%;" autoplay></video>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="webcamPreview" class="form-label">Image Preview</label>
                        <img id="webcamPreview" class="img-thumbnail" style="width: 100px; height: 100px;" x-bind:src="webcamDataUrl">
                            <input type="hidden" name="webcamDataUrl" x-bind:value="webcamDataUrl">

                    </div>
                </div>
            </div>
            


            </div>
            <div class="button-container ">
                <button type="button" @click="resetForm" class="reset">Reset</button>
                <button type="submit" @click="validateForm" :disabled="!isFormValid" @mouseover="showFormError" @mouseout="hideFormError" class="submit">Submit</button>
            </div>
            <div x-show="formError" class="form-error" x-text="formError"></div>
        
                
           </form>
           
            
        
    </div>
       
    
    
  <script>
    
    function formValidation() {
        return {
            visitor_full_name: '',
            visitor_address: '',
            applicant_full_name: '',
            applicant_ppt_no: '',
            applicant_nationality: '',
            visitor_contact_no_india: '',
            visitor_visit_purpose_id:'',
            blnApplEqlsVstrName: false,
            visitor_country_code_num:'',
            visitor_contact_no_intnl:'',
			webcamDataUrl: '',
			webcamButtonText: 'StartCmera',
	        webcamActive: false,
	        webcamStream: null,
	        
            errors: {
                visitor_full_name: '',
                visitor_address: '',
                applicant_full_name: '',
                applicant_ppt_no: '',
                applicant_nationality: '',
                visitor_contact_no_india: '',
                visitor_visit_purpose_id:'',
                visitor_country_code_num:'',
                visitor_contact_no_intnl:'',
                
            },
            isFocused: {
            visitor_full_name: false,
            visitor_address: false,
            applicant_full_name: false,
            applicant_ppt_no: false,
            applicant_nationality: false,
            visitor_contact_no_india: false,
            visitor_visit_purpose_id: false,
            visitor_country_code_num:'',
           
            },
            formError: '',
            get isFormValid() {
                return !this.errors.visitor_full_name &&
                       !this.errors.visitor_address &&
                       !this.errors.applicant_full_name &&
                       !this.errors.applicant_ppt_no &&
                       !this.errors.applicant_nationality &&
                       !this.errors.visitor_contact_no_india &&
                       !this.errors.visitor_visit_purpose_id &&
                       
                       this.visitor_full_name &&
                       this.visitor_address &&
                       this.applicant_full_name &&
                       this.applicant_ppt_no &&
                       this.applicant_nationality &&
                       this.visitor_contact_no_india &&
                       this.visitor_visit_purpose_id  
                       
            },
            validateField(field) {
                this.isFocused[field] = true;
                switch(field) {
                    case 'visitor_full_name':
                        if (this.visitor_full_name.trim() === '') {
                            this.errors.visitor_full_name = 'This is required';
                        } else if (this.visitor_full_name.length < 3) {
                            this.errors.visitor_full_name = 'Invalid!!<br>Visitorname must be at least 3 characters long.';
                        } else if (!/^[a-zA-Z\s]+$/.test(this.visitor_full_name)) {
                            this.errors.visitor_full_name = 'Invalid!!<br>Please enter only alphabetic characters in the Visitorname field.';
                        } else {
                            this.errors.visitor_full_name = '';
                        }
                        break;
						                    
						case 'visitor_address':
						    if (this.visitor_address.trim() === '') {
						        this.errors.visitor_address = 'This is required';
						    } else if (this.visitor_address.length < 3) {
						        this.errors.visitor_address = 'Invalid! Address must be at least 3 characters long.';
						    } else if (!/^[a-zA-Z0-9\s,.]+$/.test(this.visitor_address)) {
						        this.errors.visitor_address = 'Invalid! Only alphanumeric characters should be  allowed.';
						    } else {
						        this.errors.visitor_address = '';
						    }
						    break;
                    case 'applicant_full_name':
                     if (this.applicant_full_name === '') {
                            this.errors.applicant_full_name = 'This is required';
                        } else if (this.applicant_full_name.length < 3) {
                            this.errors.applicant_full_name = 'Invalid!!<br>Applicant name must be at least 3 characters long.';
                        } else if (!/^[a-zA-Z\s]+$/.test(this.applicant_full_name)) {
                            this.errors.applicant_full_name = 'Invalid!!<br>Please enter only alphabetic characters in the Applicant name field.';
                        } else {
                            this.errors.applicant_full_name = '';
                        }
                        break;
                    case 'visitor_contact_no_india':
                        if (this.visitor_contact_no_india === '') {
                            this.errors.visitor_contact_no_india = 'This is required';
                        } else if (!/^\d{10}$/.test(this.visitor_contact_no_india)) {
                            this.errors.visitor_contact_no_india= 'Please enter a valid 10-digit phone number.';
                        } else {
                            this.errors.visitor_contact_no_india = '';
                        }
                        break;
                        case 'applicant_ppt_no':
                        if (this.applicant_ppt_no === '') {
                            this.errors.applicant_ppt_no = 'This is required';
                        }  else if (!/^[a-zA-Z0-9]{1,20}$/.test(this.applicant_ppt_no)) {
                              this.errors.applicant_ppt_no = 'Please enter a valid passport No. Only alphanumeric characters are allowed, and the maximum length is 20 characters.';
                            
                        } else {
                            this.errors.applicant_ppt_no = '';
                        }
                        break;
                    case 'applicant_nationality':
                        if (!this.applicant_nationality ) {
                            this.errors.applicant_nationality = 'This is Required';
                        } else {
                            this.errors.applicant_nationality= '';
                        }
                        break;
                    case 'visitor_visit_purpose_id':
                        if (!this.visitor_visit_purpose_id ) {
                            this.errors.visitor_visit_purpose_id = 'This is Required';
                        } else {
                            this.errors.visitor_visit_purpose_id= '';
                        }
                        break;
                    // case 'purpose':
                    //     if (!this.purpose){
                    //         this.errors.purpose= 'This is Required'
                    //     } else {
                    //         this.errors.purpose='';
                    //     }
                        
                }
            },
            validateForm() {
                this.errors = { visitor_full_name: '', visitor_address: '', visitor_visit_purpose_id: '', visitor_contact_no_india: '', applicant_ppt_no: '', applicant_full_name: '',applicant_nationality:'' };

                this.validateField('visitor_full_name');
                this.validateField('visitor_address');
                this.validateField('applicant_full_name');
                this.validateField('visitor_contact_no_india');
                this.validateField('applicant_ppt_no');
                this.validateField('applicant_nationality');
                this.validateField('visitor_visit_purpose_id');

                
        if (this.validateForm) {
            // If the form is valid, submit the form
            document.getElementById('user-form').submit();
        } else {
            this.showFormError();
        }
    

            },
            resetForm() {
                this.visitor_full_name = '';
                this.visitor_address = '';
                this.applicant_full_name = '';
                this.visitor_contact_no_india = '';
                this.applicant_nationality = '';
                this.applicant_ppt_no = '';
                this.visitor_visit_purpose_id='';
                this. visitor_country_code_num='';
                this.visitor_contact_no_intnl='';
                this.errors = {
                    visitor_full_name: '',
                    visitor_address: '',
                    applicant_full_name: '',
                    applicant_nationality: '',
                    applicant_ppt_no: '',
                    visitor_visit_purpose_id: '',
                    visitor_contact_no_india:'',
                    visitor_country_code_num:'',
                    visitor_contact_no_intnl:''
                };
                this.isFocused = {
                    visitor_full_name: false,
                    visitor_address: false,
                    applicant_full_name: false,
                    applicant_ppt_no: false,
                    visitor_contact_no_india: false,
                    visitor_visit_purpose_id: false,
                    applicant_nationality:false,
                    visitor_country_code_num:false
                    
                };
                this.formError = '';
            },
            showFormError() {
                if (!this.isFormValid) {
                    this.formError = 'Please fill in all the fields correctly.';
                } else {
                    this.formError = '';
                }
            },
            hideFormError() {
                this.formError = '';
            },
            //visitorname same as applicantname
            syncApplicantName() {
            if (this.blnApplEqlsVstrName) {
                this.applicant_full_name = this.visitor_full_name ||'';
            } else {
                this.applicant_full_name = '';
            }
        },
        // dropdown label name change
         updateVisitorIdTypeLabel(event) {
                    const selectedOption = event.target.options[event.target.selectedIndex].text;
                    this.visitorIdTypeLabel = selectedOption === '-- Please Select --' ? 'Visitor ID' : selectedOption ;
                }, 
                
                
               startWebcam() {
            const video = document.getElementById('webcam');
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        video.srcObject = stream;
                        this.webcamStream = stream;
                    })
                    .catch(error => {
                        console.error('Error accessing webcam: ', error);
                    });
            }
        },

        stopWebcam() {
            if (this.webcamStream) {
                this.webcamStream.getTracks().forEach(track => track.stop());
                this.webcamStream = null;
                const video = document.getElementById('webcam');
                video.srcObject = null;
            }
        },

        capturePhoto() {
            const video = document.getElementById('webcam');
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            this.webcamDataUrl = canvas.toDataURL('image/png');
           // this.validateField('photo');
            this.stopWebcam();
        },

        toggleWebcam() {
            if (!this.webcamActive) {
                this.startWebcam();
                this.webcamButtonText = 'Capture Photo';
                this.webcamActive = true;
            } else {
                if (this.webcamButtonText === 'Capture Photo') {
                    this.capturePhoto();
                    this.webcamButtonText = 'Retake Photo';
                } else if (this.webcamButtonText === 'Retake Photo') {
                    this.stopWebcam();
                    this.startWebcam();
                    this.webcamButtonText = 'Capture Photo';
                }
            }
               },
                 encodeImage(event) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        this.photoDataUrl = e.target.result;
                        this.validateField('photo');
                    };
                    reader.readAsDataURL(event.target.files[0]);
                },
            };
                             
    }
                
                
        
   
  </script>  
        
</body>
</html>
<style>
 body{
    background-color:white;
 }
    h2{
        font-size: large;
    margin-left: 15%;
    font-family:'poppins' ;
    background-color: rgb(245, 245, 235);
    display:inline-block;
    
    }
    
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto; 
       margin: 0 ;
        display: flex;
        width: 100%;
        /* background-color: aqua; */
    }

    .logo{
        margin-top: 20px;
        padding: 20px;
        display: inline;
    }
    .logo div{
        overflow: hidden;
        width: 0;
        height: 0;
    }
    h4{
        margin-left: 30px;
        padding: 10px;
        display: inline;
    }
    .form{
        width: 200%;
        height: 400%;
       margin-left: 40px;
       background-color: rgb(242, 252, 251);
       margin-top: 5px;
       /* display:grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows:40px 40px; */
       gap:10px;
     
    
      
    }
    .logoName{
        margin-top: 100px;
        margin-left:-20px;
    }

   
    
    
    .form-control{
      /*  width: auto;*/
        column-gap: 20px;
        border-radius: 5px;
        /* border-width: 2.5px; */
        
        
    }
    .row{
        padding: 10px;
        margin-left: 10px;
        align-items: flex-start;
        margin-left: -15px;
        margin-right: 70px;
    
    }
    .col{
        column-gap: 50px;
        padding: 20px;
    }
    .text-danger{
        color: red;
      
        
    }
    .form-label{
        font-family:'poppins';
        font-weight: 100;
    }
    .error {
            color: rgb(240, 7, 135);
            font-size:14px;
            font-family:poppins ;
            font-weight: 400;
          
    }
    .form-error {
            color: #ff0020;
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
        }
        .form-control[data-focused="true"] {
            border-color: rgb(255, 0, 64);

        }
        .form-control:focus {
            border-color: rgb(0, 215, 215);
            border-width: 2.5px;
            box-shadow:purple; 
            background-color: rgb(220, 241, 241);
        
        }

        button.submit {
            padding: 10px 15px;
            background-color: rgb(8, 157, 226);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: small;
            
        }
        button.reset {
            padding: 10px 15px;
            background-color: #f6f8f8;
            color: #116ffc;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: small;

        }
        button.submit:disabled {
            background-color:rgb(141, 201, 250);
            cursor: not-allowed;
         }
        button.reset:hover {
            background-color: #a2eeead2; 
            color: #3600f8;
        }
    
</style>

  